{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Collection List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'store/styles.css' %}">
</head>
<body>
    <h1>Collection List</h1>
    <a href="{% url 'admin_home' %}">Home</a>
    <a href="{% url 'collection_create' %}">Create Collection</a>
    <table>
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
                <tr>
                    <td>{{ collection.title }}</td>
                    <td><a href="{% url 'collection_update' collection.id %}">Update</a></td>
                    <td><a href="{% url 'collection_delete' collection.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>